In [14]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [28]:
df1=DataFrame({'Sample':[1,2,3,4,5,6],'Animal':['Dog','Dog','Cat','Dog','Cat','Dog'],
              'Intelligence':['Smart','Dull','Dull','Dull','Smart','Dull']})
df1

   Sample Animal Intelligence
0       1    Dog        Smart
1       2    Dog         Dull
2       3    Cat         Dull
3       4    Dog         Dull
4       5    Cat        Smart
5       6    Dog         Dull

In [31]:
pd.crosstab(df1.Animal,df1.Intelligence)

Intelligence  Dull  Smart
Animal
Cat              1      1
Dog              3      1

In [32]:
pd.crosstab(df1.Animal,df1.Intelligence,margins=True)

Intelligence  Dull  Smart  All
Animal
Cat              1      1    2
Dog              3      1    4
All              4      2    6