In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [54]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [56]:
football=pd.read_clipboard()

In [57]:
football

   Rank                  Team     GP  Won  Lost  Tied   Pct.  First NFL Season   Division
0     1        Dallas Cowboys    914  520   388     6  0.572              1960   NFC East
1     2     Green Bay Packers  1,368  756   574    38  0.567              1921  NFC North
2     3  New England Patriots    916  512   395     9  0.564              1960   AFC East
3     4         Chicago Bears  1,402  769   591    42  0.563              1920  NFC North
4     5      Baltimore Ravens    384  214   169     1  0.559              1996  AFC North
5     6        Miami Dolphins    832  457   371     4  0.552              1966   AFC East
6     7     Minnesota Vikings    902  488   403    11  0.547              1961  NFC North

In [58]:
football.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [59]:
football.head()

   Rank                  Team     GP  Won  Lost  Tied   Pct.  First NFL Season   Division
0     1        Dallas Cowboys    914  520   388     6  0.572              1960   NFC East
1     2     Green Bay Packers  1,368  756   574    38  0.567              1921  NFC North
2     3  New England Patriots    916  512   395     9  0.564              1960   AFC East
3     4         Chicago Bears  1,402  769   591    42  0.563              1920  NFC North
4     5      Baltimore Ravens    384  214   169     1  0.559              1996  AFC North

In [60]:
DataFrame(football,columns=["Team","Lost","GP","Season"])

                   Team  Lost     GP  Season
0        Dallas Cowboys   388    914     NaN
1     Green Bay Packers   574  1,368     NaN
2  New England Patriots   395    916     NaN
3         Chicago Bears   591  1,402     NaN
4      Baltimore Ravens   169    384     NaN
5        Miami Dolphins   371    832     NaN
6     Minnesota Vikings   403    902     NaN

In [61]:
football.Team

0          Dallas Cowboys
1       Green Bay Packers
2    New England Patriots
3           Chicago Bears
4        Baltimore Ravens
5          Miami Dolphins
6       Minnesota Vikings
Name: Team, dtype: object

In [62]:
football.Lost

0    388
1    574
2    395
3    591
4    169
5    371
6    403
Name: Lost, dtype: int64

In [63]:
football['First NFL Season']

0    1960
1    1921
2    1960
3    1920
4    1996
5    1966
6    1961
Name: First NFL Season, dtype: int64

In [64]:
football['Team']

0          Dallas Cowboys
1       Green Bay Packers
2    New England Patriots
3           Chicago Bears
4        Baltimore Ravens
5          Miami Dolphins
6       Minnesota Vikings
Name: Team, dtype: object

In [65]:
football.Team

0          Dallas Cowboys
1       Green Bay Packers
2    New England Patriots
3           Chicago Bears
4        Baltimore Ravens
5          Miami Dolphins
6       Minnesota Vikings
Name: Team, dtype: object

In [66]:
DataFrame(football,columns=['Team','First NFL Season'])

                   Team  First NFL Season
0        Dallas Cowboys              1960
1     Green Bay Packers              1921
2  New England Patriots              1960
3         Chicago Bears              1920
4      Baltimore Ravens              1996
5        Miami Dolphins              1966
6     Minnesota Vikings              1961

In [67]:
football.ix[3]

C:\Users\abelu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Rank                            4
Team                Chicago Bears
GP                          1,402
Won                           769
Lost                          591
Tied                           42
Pct.                        0.563
First NFL Season             1920
Division                NFC North
Name: 3, dtype: object

In [68]:
football.loc[3]

Rank                            4
Team                Chicago Bears
GP                          1,402
Won                           769
Lost                          591
Tied                           42
Pct.                        0.563
First NFL Season             1920
Division                NFC North
Name: 3, dtype: object

In [69]:
football.iloc[3]

Rank                            4
Team                Chicago Bears
GP                          1,402
Won                           769
Lost                          591
Tied                           42
Pct.                        0.563
First NFL Season             1920
Division                NFC North
Name: 3, dtype: object

In [87]:
football['Season']='Fall'

In [88]:
football

   Rank                  Team     GP  Won  Lost  Tied   Pct.  First NFL Season   Division Season
0     1        Dallas Cowboys    914  520   388     6  0.572              1960   NFC East   Fall
1     2     Green Bay Packers  1,368  756   574    38  0.567              1921  NFC North   Fall
2     3  New England Patriots    916  512   395     9  0.564              1960   AFC East   Fall
3     4         Chicago Bears  1,402  769   591    42  0.563              1920  NFC North   Fall
4     5      Baltimore Ravens    384  214   169     1  0.559              1996  AFC North   Fall
5     6        Miami Dolphins    832  457   371     4  0.552              1966   AFC East   Fall
6     7     Minnesota Vikings    902  488   403    11  0.547              1961  NFC North   Fall

In [89]:
football['Season']= np.arange(7)

In [90]:
football

   Rank                  Team     GP  Won  Lost  Tied   Pct.  First NFL Season   Division  Season
0     1        Dallas Cowboys    914  520   388     6  0.572              1960   NFC East       0
1     2     Green Bay Packers  1,368  756   574    38  0.567              1921  NFC North       1
2     3  New England Patriots    916  512   395     9  0.564              1960   AFC East       2
3     4         Chicago Bears  1,402  769   591    42  0.563              1920  NFC North       3
4     5      Baltimore Ravens    384  214   169     1  0.559              1996  AFC North       4
5     6        Miami Dolphins    832  457   371     4  0.552              1966   AFC East       5
6     7     Minnesota Vikings    902  488   403    11  0.547              1961  NFC North       6

In [91]:
mychange=Series(['Fall','Winter'], index=[1,4])

In [92]:
football['Season']=mychange

In [93]:
football

   Rank                  Team     GP  Won  Lost  Tied   Pct.  First NFL Season   Division  Season
0     1        Dallas Cowboys    914  520   388     6  0.572              1960   NFC East     NaN
1     2     Green Bay Packers  1,368  756   574    38  0.567              1921  NFC North    Fall
2     3  New England Patriots    916  512   395     9  0.564              1960   AFC East     NaN
3     4         Chicago Bears  1,402  769   591    42  0.563              1920  NFC North     NaN
4     5      Baltimore Ravens    384  214   169     1  0.559              1996  AFC North  Winter
5     6        Miami Dolphins    832  457   371     4  0.552              1966   AFC East     NaN
6     7     Minnesota Vikings    902  488   403    11  0.547              1961  NFC North     NaN

In [99]:
data={'Abel':[2,3,4], 'Peter':[7,8,9]}

In [100]:
data

{'Abel': [2, 3, 4], 'Peter': [7, 8, 9]}

In [101]:
myframe=DataFrame(data)

In [102]:
myframe

   Abel  Peter
0     2      7
1     3      8
2     4      9