In [1]:
import numpy as np
from pandas import DataFrame,Series
import pandas as pd

In [4]:
s1 = Series([1,2],index=list("AB"))

In [5]:
s1

A    1
B    2
dtype: int64

In [6]:
s2=Series(np.arange(3),index=list("ABC"))

In [7]:
s2

A    0
B    1
C    2
dtype: int32

In [8]:
s1+s2

A    1.0
B    3.0
C    NaN
dtype: float64

In [9]:
df1=DataFrame(np.arange(9).reshape((3,3)),columns=['A','B','C'],index=['Ami','Afo','Anye'])

In [10]:
df1

      A  B  C
Ami   0  1  2
Afo   3  4  5
Anye  6  7  8

In [11]:
df2=DataFrame([[3,4,5],[4,6,7]],columns=['A','C','D'],index=['Ami','Anye'])

In [12]:
df2

      A  C  D
Ami   3  4  5
Anye  4  6  7

In [13]:
df1+df2

         A   B     C   D
Afo    NaN NaN   NaN NaN
Ami    3.0 NaN   6.0 NaN
Anye  10.0 NaN  14.0 NaN

In [22]:
df3=df1.add(df2,fill_value=0)
df3

         A    B     C    D
Afo    3.0  4.0   5.0  NaN
Ami    3.0  1.0   6.0  5.0
Anye  10.0  7.0  14.0  7.0

In [24]:
s3=df3.loc['Afo']
s3

A    3.0
B    4.0
C    5.0
D    NaN
Name: Afo, dtype: float64

In [30]:
df3.loc['Anye']-s3

A    7.0
B    3.0
C    9.0
D    NaN
dtype: float64