In [1]:
import numpy as np
from pandas import DataFrame,Series
import pandas as pd

In [2]:
s1= Series(np.arange(3),index=['a','b','c'])

In [3]:
s1

a    0
b    1
c    2
dtype: int32

In [4]:
s1.drop('b')

a    0
c    2
dtype: int32

In [7]:
df=DataFrame(np.arange(9).reshape((3,3)),index=['a','b','c'], columns=['Ami','Anye','Afo'])

In [8]:
df

   Ami  Anye  Afo
a    0     1    2
b    3     4    5
c    6     7    8

In [9]:
df.drop('b')

   Ami  Anye  Afo
a    0     1    2
c    6     7    8

In [10]:
df.drop('Anye',axis=1)

   Ami  Afo
a    0    2
b    3    5
c    6    8