In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [10]:
df1=DataFrame({'City':['Calabar','Uyo','Umuahia'],'Population':[50000,30000,70000]},index=list('ABC'))
df1

      City  Population
A  Calabar       50000
B      Uyo       30000
C  Umuahia       70000

In [15]:
myState={'Calabar':'Cross River','Uyo':'Akwa Ibom','Umuahia':'Imo'}
myState

{'Calabar': 'Cross River', 'Uyo': 'Akwa Ibom', 'Umuahia': 'Imo'}

In [16]:
df1['State']=df1['City'].map(myState)
df1

      City  Population        State
A  Calabar       50000  Cross River
B      Uyo       30000    Akwa Ibom
C  Umuahia       70000          Imo