In [1]:
import numpy as np
from pandas import DataFrame, Series
import pandas as pd

In [3]:
xfile=pd.ExcelFile('Plan.xlsx')

In [6]:
myx=xfile.parse('Sheet1')
myx

    No                                               Item      Cost
0  1.0  Venue (Abuja International Conference Centre) ...   3000000
1  2.0        Lunch of 50 delegates N2,000 x 3 days x 50)    300000
2  3.0                      Snacks (N1,000 x 3 days x 50)    150000
3  4.0           Conference dinner (N3,000 x 3 days x 50)    450000
4  5.0       Conference bags and stationery (N5,000 x 50)    250000
5  6.0  Accommodation, upkeep and honorarium for Keyno...    120000
6  7.0  Promotion - banner, posters, media, printing a...     60000
7  8.0  IITEDA fee that covers international flights, ...   6000000
8  NaN                                              Total  10330000

In [12]:
1+1

2