In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [2]:
np.random.seed(12345)

In [4]:
df1=DataFrame(np.random.randn(1000,4))

In [6]:
df1.head()

          0         1         2         3
0  1.150765 -0.997174  0.046486 -0.610441
1 -0.394982  1.199915 -0.451814 -0.155385
2 -0.153514  0.011194 -0.050555  0.420211
3  1.190981  1.561488 -1.132925  0.097083
4 -1.031573 -0.044618 -0.218153  0.772942

In [7]:
df1.tail()

            0         1         2         3
995 -0.805171  0.976343  0.859475  0.203516
996 -0.064420  0.487940  1.353146  0.291152
997 -0.051474  1.353153  1.066038  1.260350
998 -0.144072 -1.074131 -0.245138  1.474357
999 -0.741705 -0.462397 -0.419776  0.592210

In [10]:
df1.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.020880     0.001643    -0.019453    -0.026122
std       0.980023     1.025441     0.995088     0.960486
min      -3.108915    -3.645860    -3.481593    -3.194414
25%      -0.697479    -0.697678    -0.694020    -0.700987
50%      -0.005279     0.031774    -0.014728    -0.038483
75%       0.618116     0.690065     0.651287     0.649747
max       2.859053     3.189940     3.525865     3.023720

In [32]:
co1=df1[0]

In [38]:
co1[np.abs(co1)>2.5]

54    -2.665831
219   -2.525358
236   -2.839775
271    2.771398
396   -3.108915
740   -2.645762
765    2.658795
908    2.859053
992    2.550369
Name: 0, dtype: float64

In [41]:
df2=df1[np.abs(df1)>1]

In [42]:
df2.describe()

                0           1           2           3
count  307.000000  330.000000  323.000000  306.000000
mean    -0.044049   -0.001878   -0.026345   -0.098344
std      1.576741    1.605096    1.569774    1.532319
min     -3.108915   -3.645860   -3.481593   -3.194414
25%     -1.414222   -1.410857   -1.425106   -1.356758
50%     -1.031533    1.009999    1.007064   -1.028291
75%      1.369783    1.428773    1.345664    1.346436
max      2.859053    3.189940    3.525865    3.023720

In [51]:
df1[(np.abs(df1)>3).any(1)]

            0         1         2         3
46  -0.658090 -0.207434  3.525865  0.283070
67   0.599947 -3.645860  0.255475 -0.549574
289 -1.559625  0.336788 -3.333767 -1.240685
371 -1.116332 -3.018842 -0.298748  0.406954
396 -3.108915  1.117755 -0.152780 -0.340173
526  1.188742 -3.183867  1.050471 -1.042736
573 -2.214074 -3.140963 -1.509976 -0.389818
738 -0.088202  1.090038 -0.848098 -3.194414
768  0.474358  0.003349 -0.011807  3.023720
797  2.368010  0.452649 -3.481593  0.789944
966  0.164293  3.082067 -0.516982  0.251909
994 -0.843849  3.189940  0.070978  0.516982

In [62]:
df1[np.abs(df1)>3]= np.sign(df1)*3

In [63]:
df1.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.020772     0.002361    -0.019163    -0.025951
std       0.979685     1.021487     0.990725     0.959788
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.697479    -0.697678    -0.694020    -0.700987
50%      -0.005279     0.031774    -0.014728    -0.038483
75%       0.618116     0.690065     0.651287     0.649747
max       2.859053     3.000000     3.000000     3.000000