In [1]:
import numpy as np
from pandas import DataFrame,Series
import pandas as pd

In [2]:
from numpy.random import randn

In [16]:
s1= Series(([1,2,3,4]),index = ['A','B','C','D'])

In [17]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [18]:
s3= s1.reindex(['A','B','C','D','E','F'])

In [11]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [13]:
s2

['A', 'B', 'C', 'D', 'E']

In [19]:
s3

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [20]:
s4=s3.reindex(['A','B','C','D','E','F','G'],fill_value=0)

In [21]:
s4

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [22]:
s5=Series([2,3,4],index=['A','B','C'])

In [23]:
s5

A    2
B    3
C    4
dtype: int64

In [24]:
s6index=['A','B','C','D']

In [26]:
s6=s5.reindex([2,3,4],index=['A','B','C','D'])

TypeError: reindex() got multiple values for argument 'index'

In [27]:
s5

A    2
B    3
C    4
dtype: int64

In [28]:
s7=s5.reindex(['A','B','C','D'])

In [29]:
s7

A    2.0
B    3.0
C    4.0
D    NaN
dtype: float64

In [30]:
s8=Series([91,64,20],index=['Len','Abel','Esther'])
s8

Len       91
Abel      64
Esther    20
dtype: int64

In [31]:
s9=s8.reindex(['Len','Abel','Esther','Nath'])

In [32]:
s9

Len       91.0
Abel      64.0
Esther    20.0
Nath       NaN
dtype: float64

In [33]:
s10=s9.reindex(['Len','Abel','Esther','Nath','Paul'],fill_value=0)

In [34]:
s10

Len       91.0
Abel      64.0
Esther    20.0
Nath       NaN
Paul       0.0
dtype: float64

In [35]:
s5

A    2
B    3
C    4
dtype: int64

In [36]:
s11=Series(['Akpan','Etim','Umoh'],index=[1,5,10])

In [37]:
s11

1     Akpan
5      Etim
10     Umoh
dtype: object

In [38]:
indexff = range(10)
indexff

range(0, 10)

In [39]:
range(15)

range(0, 15)

In [40]:
range(0,15,1)

range(0, 15)

In [41]:
s12=s11.reindex(range(15),method='ffill')

In [42]:
s12

0       NaN
1     Akpan
2     Akpan
3     Akpan
4     Akpan
5      Etim
6      Etim
7      Etim
8      Etim
9      Etim
10     Umoh
11     Umoh
12     Umoh
13     Umoh
14     Umoh
dtype: object

In [43]:
s13=Series(['Okon','Effiong','Etim'],index=[1,7,13])

In [44]:
s13

1        Okon
7     Effiong
13       Etim
dtype: object

In [46]:
s14=s13.reindex(range(13),method='ffill')

In [47]:
s14

0         NaN
1        Okon
2        Okon
3        Okon
4        Okon
5        Okon
6        Okon
7     Effiong
8     Effiong
9     Effiong
10    Effiong
11    Effiong
12    Effiong
dtype: object

In [48]:
s15 = Series(['uko','ed','tim'],index=[1,7,12])

In [49]:
s15

1     uko
7      ed
12    tim
dtype: object

In [50]:
s16=s15.reindex(range(12),method='ffill')

In [51]:
s16

0     NaN
1     uko
2     uko
3     uko
4     uko
5     uko
6     uko
7      ed
8      ed
9      ed
10     ed
11     ed
dtype: object

In [52]:
df1=DataFrame(randn(25).reshape((5,5)),index=['A','B','C','D','F'])

In [55]:
newc=['col1','col2','col3','col4','col5']

In [65]:
df2=DataFrame(randn(15).reshape((3,5)),index=['A','B','C'],columns=['col1','col2','col3','col4','col5'])

In [66]:
df2

       col1      col2      col3      col4      col5
A  0.638496  0.134527  0.680740 -0.216862 -0.653268
B  0.682506  2.696981 -0.662434  0.633891 -1.642691
C  0.813936 -0.272266  1.546183 -1.430427 -1.291532

In [69]:
df3=DataFrame(randn(9).reshape((3,3)),index=['A','B','C'],columns=['col1','col2','col3'])

In [70]:
df3

       col1      col2      col3
A -0.885551 -0.840014  1.945088
B  0.712640  1.705414 -0.451570
C  0.536984  2.020605 -1.580622

In [71]:
newc=['col1','col2','col3','col4']

In [72]:
newi=['A','B','C','D']

In [73]:
df4=df3.reindex(newi)

In [74]:
df4

       col1      col2      col3
A -0.885551 -0.840014  1.945088
B  0.712640  1.705414 -0.451570
C  0.536984  2.020605 -1.580622
D       NaN       NaN       NaN

In [75]:
df5=df4.reindex(columns=newc)

In [76]:
df5

       col1      col2      col3  col4
A -0.885551 -0.840014  1.945088   NaN
B  0.712640  1.705414 -0.451570   NaN
C  0.536984  2.020605 -1.580622   NaN
D       NaN       NaN       NaN   NaN

In [77]:
df4

       col1      col2      col3
A -0.885551 -0.840014  1.945088
B  0.712640  1.705414 -0.451570
C  0.536984  2.020605 -1.580622
D       NaN       NaN       NaN

In [78]:
df3

       col1      col2      col3
A -0.885551 -0.840014  1.945088
B  0.712640  1.705414 -0.451570
C  0.536984  2.020605 -1.580622

In [86]:
df6=df3.reindex(index= newi,columns=newc)

In [87]:
df6

       col1      col2      col3  col4
A -0.885551 -0.840014  1.945088   NaN
B  0.712640  1.705414 -0.451570   NaN
C  0.536984  2.020605 -1.580622   NaN
D       NaN       NaN       NaN   NaN