In [1]:
import numpy as np
from pandas import DataFrame,Series
import pandas as pd

In [2]:
s1=Series([2,3,4,5,2,3,4,5])
s1

0    2
1    3
2    4
3    5
4    2
5    3
6    4
7    5
dtype: int64

In [4]:
s1.replace(4,np.nan)

0    2.0
1    3.0
2    NaN
3    5.0
4    2.0
5    3.0
6    NaN
7    5.0
dtype: float64

In [5]:
s1

0    2
1    3
2    4
3    5
4    2
5    3
6    4
7    5
dtype: int64

In [6]:
s1.replace([4,5],[40,50])

0     2
1     3
2    40
3    50
4     2
5     3
6    40
7    50
dtype: int64

In [10]:
s1.replace({3:30,2:20})

0    20
1    30
2     4
3     5
4    20
5    30
6     4
7     5
dtype: int64